#display-login {
    margin-top: 50px;
    height: 80px;
    /*background: url(../../../pics/logo_infotel.png) center no-repeat;*/
    background: url(../../../pics/login_logo_glpi.png) center no-repeat #2f85b1;
}
