includes:
    - vendor/glpi-project/phpstan-glpi/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - ajax
        - front
        - install
        - src
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    bootstrapFiles:
        - ../../stubs/glpi_constants.php
        - ../../vendor/autoload.php
        - setup.php
    treatPhpDocTypesAsCertain: false
